#całokształt
    position: relative
    display: flex
    align-items: center

    .ustawieniaStrony
        cursor: pointer
        padding: 5px
        
        img
            width: 30px
            height: auto