#całokształt
    position: relative
    display: flex
    align-items: center

    .ustawieniaStrony
        cursor: pointer
        padding: 5px
        
        img
            width: 30px
            height: auto

    #rozwijanaLista
        position: absolute
        height: 30px
        left: 5px
        top: -5px
        display: flex
        background-color: rgba(0, 0, 0, 75%)
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
        padding: 5px
        gap: 10px
        transform: translateX(-105%)
        transition: transform 0.3s ease
        z-index: 1 !important
        
        &.otwarte
            transform: translateX(25%)
        
        .ustawieniaStrony
            opacity: 1
            transition: opacity 0.3s ease 0.2s
            
            &.otwarte
                opacity: 1

            img
                width: 30px
                height: auto
                transition: transform 0.2s ease
                
                &:hover
                    transform: scale(1.1)