@font-face
    font-family: mina-bold
    src: url("../../public/czcionka/Mina-Bold.ttf")

.zawartośćPodstrony
    position: relative
    font-family: mina-bold
    color: white
    width: 100% 
    padding: 0
    margin-top: 200px
    background: rgba( 72, 72, 72, 75%)
    border-radius: 25px
    
    h1
        text-align: center
        margin: 0