@font-face
    font-family: mina-bold
    src: url("../../public/czcionka/Mina-Bold.ttf")

.zawartośćPodstrony
    position: relative
    font-family: mina-bold
    color: white
    width: calc(100% - 150px)
    padding: 25px
    margin: 40px 50px
    background: rgba( 72, 72, 72, 75%)
    border-radius: 25px
    
    h1
        text-align: center
        margin: 0